@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,400;1,500 & display=swap');
body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
    height: 452px;
    margin: 0px;
    padding: 0px;
    background-image: url(./svg.png);
    box-sizing: border-box;
}
.menuHeader{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    margin: 0px auto 0px auto;
    padding: 0px;

}
.menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0px;
    margin: 0px;
}
ul{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li{
    list-style: none;
    color: rgb(219, 216, 216);
    cursor: pointer;
}
.textOfTitle2{
    box-sizing: border-box;
    margin-bottom: 25px;
}
.iconButtom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 40%;
    margin-bottom: 30px;
}
.buttonHeader{
    border: none;
    cursor: pointer;
    color: #666;
    background: #fff;
    height: 35px;
    border-radius: 5px;
}
.iColor{
    color: #fff;
    font-size: 20pt;
    margin-left: 5px;
}
.logo{
    color: rgb(219, 216, 216);
    cursor: pointer;
}

.heroMenu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
.imgHero{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textOfTitle2{
    width: 55%;
    box-sizing: border-box;
}
.title2{
    width: 55%;
    box-sizing: border-box;
    font-size: 20pt;
}
.fast{
    width: 100%;
}
.section1{
    width: 70%;
    margin: 40px auto 0px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px;
}
.iconDiv{
    background: rgb(223, 222, 222, 0.4);
    width: 200px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
}
.umenSize{
    font-size: 25pt;
    color: rgb(162, 76, 242);
}
.sec{
    width: 100%;
    background-color: rgb(223, 222, 222, 0.25);
    margin-top: 40px;
}
.secSection{
    width: 70%;
    margin: 10px auto 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.Ph4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Pparagra{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 10px auto 0px auto;
}
.imgDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.alingtow{
    display: flex;
    align-items: flex-start;
}
.content{
    width: 85%;
}
.marginNew{
    margin-left: 20px;
    margin-top: 0px;
}
b{
    margin-left: 20px; 
}
.cColorIcom{
    color:rgb(162, 76, 242);
    font-size: 20pt;
}
